*, *::before, *::after {
    box-sizing: border-box;   
    font-family: 'Inter', sans-serif;
 }

 body{
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 





/*Header Mobile content*/
 header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
 }

 .header-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.438em;
    max-width: 1440px;
    width: 100%;
 }

 .desktop-options{
    display: none;
    flex-direction: row;
    width: 440px;
    justify-content: space-between;
 }

 .logo{
    width: 40%;
    max-width: 276px;
 }

 .hamburger{
    width: 5%;
    max-width: 35px;
    cursor: pointer;
 }

 /*Top of the main*/
main{
    width: 100%;
    max-width: 1440px;
}



.part1{
   background-image: url('../images/image2.jpg');
   background-size: cover;

}

.dark-background{
    background-color: hsl(0deg 0% 0% / 32%);
}

.top-words{
    color: #ffffff;
    padding: 2.938em;
    width: 100%;
}
 
 h1{
    font-size: 4.25rem;
    
    margin: 0.5em 0em;
    
    
 }

 .yellow{
    color:#ECE480;
    font-weight:600;
 }

 .top-p{
    font-size: 1.425rem;
    line-height: 1.5;
    font-weight: 600;
}



.search-city-input{
    padding: 1em 3em;
    width: 90%;
    max-width: 570px;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    border-radius: 0.2em;
    border: none;
    
}

.hidden{
    display: none;
}



.mobile-options{
    display: flex;
    flex-direction: column;
    background-color: grey;
    width: 100%;
}

.light-background{
    display: none;
}
.mobile-input{
    padding: 0em 2.938em;
}

.sign-up {
    color: #ffffff;
    background-color: #638A5C;
    padding: 1em 2em;
    border: 1px solid green;
    border-radius: 0.2em;
    max-width: 150px;
    text-align: center;
}
.login{
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 1em 2em;
    border-radius: 0.2em;
    max-width: 150px;
    text-align: center;
}

.links{
    color: #000000;
}

.desktop-options a, .mobile-nav a{
    text-decoration: none;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.mobile-nav{
    padding-top: 1em;
  
    flex-direction: column;
    align-items: center;
}

.mobile-nav a{
    margin-bottom: 1em;
    text-align: center;
}

.magnify{
    position: absolute;
    left: 4.9em;
    top: 1em;
    width: 20px;
    height: 20px;

}

.mobile-input{
    position: relative;
    max-width: 450px;
    margin: 0 auto;
}

button{
   color: #ffffff;
   background-color: #638A5C;
   width: 90%;
   border-radius: 1em;
   padding: 1em;
   border: none;
  margin: 1em 0em;
}

.facts{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;
    row-gap: 2em;
    column-gap: 1.5em;
    background-color: #FAFAFA;

    padding: 3em 0em;

}

.grid-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    width: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    padding-bottom: 2em;
}

.footer-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    
    
}

.footer-nav a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    margin-bottom: 1em;
}

.footer-logo{
    width: 221px;
    margin-bottom: 1em;
}

.copyright{
    color: #A5A5A5;
}

.logo_copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
}




@media screen and (max-width:767px){
    
    .top-words{
        text-align: center;
    }
    
    h1{
        font-size:2.25rem ;
    }

    .top-p{
        font-size: 1.2rem;
    }

    .search-city-input{
        font-size: 1rem;
    }

    .mobile-input{
       text-align: center;

    }

   

   



    
}

@media screen and (min-width:764px){
    .top-words{
        max-width: 623px;
    }
    .mobile-input{
        margin: 0;
    }

    .larger-input{
       max-width: 711px; 
    }

    .magnify{
        width: 25px;
        height: 25px;
        left: 4rem;
    }
    button{
        position: absolute;
        width: auto;
        right: 6em;
        font-size: 1.2rem;
        letter-spacing: 0.2em;
        font-weight: 600;
        top: -0.8em;
        border-radius: 5%;
        padding: 0.7em;
    }

    .search-city-input{
        font-size: 2rem;
        padding: 0.3em 3em;
        padding-left: 2em;
    }
    .dark-background{
        padding-bottom: 2em;
    }

    .desktop-input{
        position: relative;
    }

    .footer-nav{
        width: 100%;
    max-width: 368px;
    padding-bottom: 0.5em;
    flex-direction: row;
    justify-content: space-between;
    }
}

@media screen and (min-width:1024px){
    /*Header Desktop content*/
    .hamburger{
        display: none;
    }
    .desktop-options{
        display: flex;
        align-items: center;
    }

   
}


 @media screen and (min-width:1330px){


    .dark-background{
        width: 100%;
        max-width: 668px;
    }

    .light-background{
        width: 100%;
        max-width: 772px;
    }

.mobile-options{
    display: none !important;
}

.desktop-input{
    display: flex;
    width: 100%;
    align-items: end;
}

.search-city-input{
    width: 100%;
    max-width: 700px;
    position: relative;
    bottom: 2em;
    margin-left: 1.2em;
    margin-right: 1em;
}

.magnify{
    top: 23.4em;
}

button{
    top: 18em;
    right: 2em;
}
   

.top-words{
    padding-bottom: 6em;
}
   

    .links{
        color: #000000;
    }

    .part1{
        display: flex;
        
    }

    .dark-background{
        background-color: #00000097;
    }

    .light-background{
        display: flex;
    }

    .mobile-input{
        display: none;
    }

    footer{
        flex-direction: row;
        justify-content: space-between;
        padding: 1.438em;
    }

    .footer-nav{
        order: 2;
        padding: 0rem;
    }


    
 }

 

 
 