*, *::before, *::after {
    box-sizing: border-box;   
    font-family: 'Inter', sans-serif;
 }

 body{
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 





/*Header Mobile content*/
 header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
 }

 .header-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.438em;
    max-width: 1440px;
    width: 100%;
 }

 .desktop-options{
    display: none;
    flex-direction: row;
    width: 440px;
    justify-content: space-between;
 }

 .logo{
    width: 40%;
    max-width: 276px;
 }

 .hamburger{
    width: 5%;
    max-width: 35px;
    cursor: pointer;
 }

 /*Top of the main*/
main{
    width: 100%;
    max-width: 1440px;
}



.part1{
   background-image: url('../images/image2.jpg');
   background-size: cover;

}

.dark-background{
    background-color: hsl(0deg 0% 0% / 32%);
}

.top-words{
    color: #ffffff;
    padding: 2.938em;
    width: 100%;
}
 
 h1{
    font-size: 4.25rem;
    
    margin: 0.5em 0em;
    
    
 }

 .yellow{
    color:#ECE480;
    font-weight:600;
 }

 .top-p{
    font-size: 1.425rem;
    line-height: 1.5;
    font-weight: 600;
}



.search-city-input{
    padding: 1em 1.5em;
    width: 90%;
    max-width: 570px;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    
}

.hidden{
    display: none;
}



.mobile-options{
    display: flex;
    flex-direction: column;
    padding-left: 2.938em;
    background-color: grey;
    width: 100%;
}

.light-background{
    display: none;
}
.mobile-input{
    padding: 0em 2.938em;
}

.sign-up {
    color: #ffffff;
    background-color: #638A5C;
    padding: 1em 2em;
    border: 1px solid green;
    border-radius: 0.2em;
    max-width: 150px;
    text-align: center;
}
.login{
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 1em 2em;
    border-radius: 0.2em;
    max-width: 150px;
    text-align: center;
}

.links{
    color: #000000;
}

.desktop-options a, .mobile-nav a{
    text-decoration: none;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.mobile-nav{
    padding-top: 1em;
  
    flex-direction: column;
    align-items: center;
}

.mobile-nav a{
    margin-bottom: 1em;
    text-align: center;
}

.magnify{
    position: absolute;

}

.mobile-input{
    position: relative;
}


@media screen and (max-width:767px){
    
    .top-words{
        text-align: center;
    }
    
    h1{
        font-size:2.25rem ;
    }

    .top-p{
        font-size: 1.2rem;
    }

    .search-city-input{
        font-size: 1rem;
    }

    .mobile-input{
        text-align: center;
    }



    
}

@media screen and (min-width:764px){
    .top-words{
        max-width: 623px;
    }
}


 @media screen and (min-width:1024px){
.mobile-options{
    display: none !important;
}

    /*Header Desktop content*/
    .hamburger{
        display: none;
    }
    .desktop-options{
        display: flex;
        align-items: center;
    }


   

    .links{
        color: #000000;
    }

    .part1{
        display: flex;
        
    }

    .light-background{
        display: flex;
    }


    
 }

 

 
 